| document.getElementById('price_collection').innerHTML = "#{j render(partial: 'prices/price', collection: @company.prices, as: :price)}";
| document.getElementById('sigma').innerHTML = "#{@company.search.sigma}σ";
